# Virtual environments
lambda/venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Lambda deployment packages
lambda/*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db